%h1 Your movies
- @movies.each do |movie|
  .callout
    Your movies name =
    = movie.name
    %br/
    = link_to 'Add Scenes/ Add Pictures', movie
    %br/
    = link_to 'Edit The Name', edit_movie_path(movie)
    %br/
    = link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure? You did good! Why give up now?' }

= link_to 'New Movie', new_movie_path, class: "button"
