= form_for [@movie, @scene] do |f|
  - if @scene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scene.errors.count, "error")} prohibited this scene from being saved:"
      %ul
        - @scene.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :Actor
    = f.text_field :actor
  .actions
    = f.submit 'Save', class: "button"
