%h1 Listing scenes

%table
  %thead
    %tr
      %th Name
      %th Content
      %th Movie
      %th
      %th

  %tbody
    - @scenes.each do |scene|
      %tr
        %td= scene.name
        %td= scene.content
        %td= link_to 'Show', scene
        %td= link_to 'Edit', edit_scene_path(scene)
        %td= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Scene', new_scene_path
