%p#notice= notice

%p
  %b Name:
  = @scene.name
%p
  %b Content:
  = @scene.content

= link_to 'Edit', edit_movie_scene_path(@movie, @scene), class: "button"
\|
= link_to 'Back', movie_scenes_path(@movie), class: "button"
