= form_for [@movie, @picturescene] do |f|
  - if @picturescene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picturescene.errors.count, "error")} prohibited this scene from being saved:"
      %ul
        - @picturescene.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Give_the_picture_or_video_a_label
    Like when the picture/video shows in the Movie.
    = f.text_field :name
  %p Remeber you have to add ONE at a time. Also DO Not close untill upload is DONE!
  %p Picture types we accpet are Jpeg, Gif, and Png.
  %p Video types we accpet are Mp4, Mov, and Webm.
  %span.picture
    (Picture or video)
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,video/mp4,video/mov,video/webm', direct_upload: true
  %br/
  .actions
    = f.submit "Add Picture/video", class: 'button'
:javascript
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5000000000) {
      alert('Maximum file size is 5 Petabytes. Please choose a smaller file.');
    }
  });
