= form_for [@movie, @picturescene] do |f|
  - if @picturescene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picturescene.errors.count, "error")} prohibited this scene from being saved:"
      %ul
        - @picturescene.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Give_the_picture_or_video_a_label
    Like when the picture/video shows in the Movie.
    = f.text_field :name
  %p Remeber you dont have to add both at a time.
  %span.picture
    (Picture one)
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', direct_upload: true
  %span.video
    (Video One)
    = f.file_field :video, accept: 'video/mp4,video/mov,video/webm', direct_upload: true
  .actions
    = f.submit "Add Picture/video", class: 'button'
:javascript
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 50000) {
      alert('Maximum file size is 50000MB. Please choose a smaller file.');
    }
  });
