%h1 Picture's
- @movie.picturescenes.each do |pictures|
  %h6
    %b Pictures label:
    = pictures.name
  - if pictures.picture.attached?
    .thumbnail= image_tag pictures.picture, class: "small"
  - if pictures.video.attached?
    = video_tag rails_blob_path(pictures.video), controls: true , resize: "50x50"
  %br/
  = link_to "Remove Image/Video", [pictures.movie, pictures], method: :delete, data: { confirm: "Are you sure?" }, class: "pic"
  %br/
%br/
= link_to 'Back to Movie', movie_path(@movie), class: "button"
