%p#notice= notice

%p
  %b Label:
  = @picturescene.name
-  if @picturescene.picture.attached?
  .thumbnail= image_tag @picturescene.picture.variant(resize: "200x200")
%br/
= link_to 'Edit', edit_movie_scene_path(@movie, @picturescene), class: "button"
\|
= link_to 'Back', movie_path(@movie), class: "button"
