.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li
        %h4= link_to 'Movie Makers', root_path
  .top-bar-right
    %ul.menu
      - if user_signed_in?
        %li= link_to 'Movies', movies_path
        %li= link_to 'Edit User', edit_user_registration_path
        %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Sign Up', new_user_registration_path
        %li= link_to 'Login', new_user_session_path
