!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Movie Makers
    = favicon_link_tag ('favicon.ico')
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    - if Announcement.first.text == ""
    -else
      = render "layouts/announcements"
    = render 'layouts/flashmessages'
    .grid-container
      = yield
    = render 'layouts/footer'
