!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Movie Makers
    = favicon_link_tag ('favicon.ico')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    = render 'layouts/topbar'
    = render "layouts/announcements"
    = render 'layouts/flashmessages'
    .grid-container
      = yield
    = render 'layouts/footer'
